
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Address Book</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Address List</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container main page-host" data-bind="router: { transition: 'entrance' }"></div>
<div class="footer text-muted">
</div>